scope: ${PATRONI_SCOPE}
namespace: /db/
name: ${NODE_NAME}

restapi:
  listen: 0.0.0.0:8008
  connect_address: ${NODE_NAME}:8008

etcd3:
  host: ${ETCD_HOST}:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    synchronous_mode: true
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        max_wal_senders: 10
        max_replication_slots: 10
        wal_log_hints: "on"
  initdb:
    - encoding: UTF8
    - data-checksums
  pg_hba:
    - host replication ${POSTGRES_REPLICATION_USER} 0.0.0.0/0 md5
    - host all all 0.0.0.0/0 md5
  users:
    ${POSTGRES_APP_USER}:
      password: ${POSTGRES_APP_PASSWORD}
      options:
        - createdb
  # bootstrap.users are created *after* this script runs (Patroni runs the script with
  # no shell, appending the connstring as the final arg), so /usr/local/bin/post-bootstrap.sh
  # creates the app role and its database itself instead of relying on the users: block.
  post_bootstrap: /home/postgres/pg-post-bootstrap.sh

postgresql:
  listen: 0.0.0.0:5432
  connect_address: ${NODE_NAME}:5432
  data_dir: /home/postgres/data/pgdata
  bin_dir: /usr/lib/postgresql/16/bin
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: ${POSTGRES_REPLICATION_USER}
      password: ${POSTGRES_REPLICATION_PASSWORD}
    superuser:
      username: ${POSTGRES_SUPERUSER}
      password: ${POSTGRES_SUPERUSER_PASSWORD}
  parameters:
    unix_socket_directories: /tmp

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
