port {{ redis_cluster_port }}
bind 0.0.0.0
protected-mode no
cluster-enabled yes
cluster-config-file /var/lib/redis/nodes.conf
cluster-node-timeout 5000
cluster-announce-hostname {{ inventory_hostname }}
cluster-preferred-endpoint-type hostname
appendonly yes
dir /var/lib/redis
